body{
  background-color: #272635;
  font-family: Roboto, Arial;
  color: #eee;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  padding: O;
  margin: 0;
  -webkit-text-size-adjust: none;
}

.card-header img {
	width: 100%;
}

.card-header {
  background-color: rgba(0,0,0,0.10);
  border-bottom: 0;
}

.card-body {
	margin-top: 10px;
  text-align: center;
  line-height: 20px;
}

.card-body button {
	margin-right: 5px;
}
.card-title{
  font-weight: 300;
  color: #fff;
}